{% extends 'dashboard.html' %}
{% load static %}
{% block static_file %}
    <link rel="stylesheet" href="{% static 'nav.css' %}">
{% endblock %}
{% block content %}
    <table style="margin:10px">
        <tr>
            <th>Operator</th>
            <th>Operator Type</th>
            <th>Route</th>
        </tr>
        {% for item in data %}
            <tr>            
                <td>{{item.operator}}</td>
                <td>{{item.operatortype}}</td>
                <td>{{item.route}}</td>
            </tr>
        {% endfor %}
    </table>

    {% if data.has_other_pages %}
  <ul class="pagination">
    {% if data.has_previous %}
      <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in data.paginator.page_range %}
      {% if data.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if data.has_next %}
      <li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}