{% extends 'base.html' %}
{% block content %}
    <form method="get" action="{% url 'SCM:traffic-data' %}">
        <button class="btn" style="margin:5px; border:1px solid black">View traffic map</button>
    </form>
    <form method="get" action="{% url 'SCM:pollution-data' %}">
        <button class="btn" style="margin:5px; border:1px solid black">View pollution data</button>
    </form>
    <form method="get" action="{% url 'SCM:bus-data' %}">
        <button class="btn" style="margin:5px; border:1px solid black">View Dublin Bus data</button>
    </form>
    <form method="get" action="{% url 'SCM:event-data' %}">
        <button class="btn" style="margin:5px; border:1px solid black">View events data</button>
    </form>
    <form method="get" action="{% url 'SCM:bikes-data' %}">
        <button class="btn" style="margin:5px; border:1px solid black">View Dublin Bikes data</button>
    </form>     
    <form method="get" action="{% url 'SCM:push-notification' %}">
        <button class="btn" style="margin:5px; border:1px solid black">
            Send Notification
        </button>
    </form>
{% endblock %}