{% extends 'dashboard.html' %}
{% load static %}
{% block static_file %}
    <link rel="stylesheet" href="{% static 'nav.css' %}">
{% endblock %}
{% block content %}
    <table style="margin:10px">
        <tr>
            <th>Address</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Available Bike Stands</th>
            <th>Available Bikes</th>
            <th>Contract Name</th>
            <th>Name</th>
            <th>Number</th>        
            <th>Status</th>
        </tr>
        
        {% for item in data %}
            <tr>
                <td>{{item.address}}</td>
                <td>{{item.position.lng}}</td>
                <td>{{item.position.lat}}</td>
                <td>{{item.available_bike_stands}}</td>
                <td>{{item.available_bikes}}</td>
                <td>{{item.contract_name}}</td>
                <td>{{item.name}}</td>
                <td>{{item.number}}</td>
                <td>{{item.status}}</td>
            </tr>
        {% endfor %}
    </table>
{% if data.has_other_pages %}
  <ul class="pagination" style="border:1px solid black; margin:10px;">
    {% if data.has_previous %}
      <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in data.paginator.page_range %}
      {% if data.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if data.has_next %}
      <li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
