{% extends 'dashboard.html' %}
{% load static %}
{% block static_file %}
    <link rel="stylesheet" href="{% static 'nav.css' %}">
{% endblock %}
{% block content %}
    <table style="margin:10px">
        <tr>
            <th>Event Name</th>
            <th>Event Date and Time</th>            
            <th>Event Location</th>
        </tr>
        {% for key, value in data.items %}
            <tr>            
                <td>{{value.name}}</td>
                <td>{{value.dateTime}}</td>
                <td>{{value.location}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}